[Desktop Entry]
Exec=/usr/local/bin/kbdctl brightness down
Name=Keyboard Brightness Down
NoDisplay=true
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
